<ng-template [ngIf]="currentUrl === '/user'" [ngIfElse]="horsAcceuil">
    <div class="row mb-2">
        <div class="d-md-inline-block col-md-4  text-left">
            <h2 class="customH2">Mes 4 meilleures séries</h2>
        </div>
        <div class="d-md-inline-block col-md-4 text-center">
            <i class="fas fa-tv fa-2x"></i><h2><a routerLink="/user/series">Mes Séries</a></h2>
        </div>
        <div class="col-md-4 text-center"></div>
    </div>
</ng-template>

<ng-template #horsAcceuil>
    <div class="row mb-2 text-center">
        <div class="d-inline-block">
            <div class="text-center d-md-inline-block marginCustom">
                <i class="fas fa-film fa-2x"></i> <h2><a routerLink="/user/movies">Mes Films</a></h2>
            </div>
            <div class="text-center d-md-inline-block marginCustom active">
                <i class="fas fa-tv fa-2x"></i><h2><a class="active" routerLink="/user/series">Mes Séries</a></h2>
            </div>
        </div>
    </div>
</ng-template>

<!--Filters UserSeries-->
<div id="divBtnsFiltersUser" *ngIf="currentUrl !== '/user'" class="mb-3">
    <mat-button-toggle-group appearance="legacy" name="statusUserMovies" aria-label="Status">
        <mat-button-toggle (click)="onClickStatusBtn('All')" value="All" checked>Tous</mat-button-toggle>
        <mat-button-toggle (click)="onClickStatusBtn(statusUnwatched)" [value]="statusUnwatched">A voir</mat-button-toggle>
        <mat-button-toggle (click)="onClickStatusBtn(statusOngoing)" [value]="statusOngoing">En cours</mat-button-toggle>
        <mat-button-toggle (click)="onClickStatusBtn(statusWatched)" [value]="statusWatched">Déjà vu</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<!--Filters UserSeries-->

<div class="row">
    <p *ngIf="series.length == 0" class="d-flex justify-content-center p-4">Aucune série dans mon catalogue</p>
    <div *ngFor="let userserie of series" class="col-12 col-md-3">
        <div class="card">
            <img [src]="userserie.serie.image_landscape != null ? (userserie.serie.image_landscape | printImg) : './assets/img/noimage.png'"
                 [alt]="userserie.serie.title" 
                 [routerLink]='["/details", userserie.id, "Serie", "in", "userCatalog"]'>
            <div class="card-body">
                <div class=" d-flex align-items-center justify-content-between">
                    <h2 [routerLink]='["/details", userserie.id, "Serie", "in", "userCatalog"]'>
                        {{userserie.serie.title}}
                    </h2>                   
                    <app-toggle [status]="userserie.status" 
                                [userVideoId]="userserie.id"
                                videoType="SERIE">
                    </app-toggle>
                </div>
                <app-stars [componentType]="'display'" [score]="userserie.serie.rating"></app-stars>

            </div>
        </div>
    </div>
</div>
